<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Test4" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DataBase\MMS.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Test1" value="這是組態檔第一筆資料"/>
    <add key="Test2" value="這是組態檔第二筆資料"/>
    <add key="Test3" value="這是組態檔第三筆資料"/>
  </appSettings>
</configuration>